.sections-header {
  border-bottom: 1px solid #f0eef2;
  padding-bottom: 20px;
  margin-bottom: 40px;
}
.sections-header h2 {
  font-size: 34px;
  font-family: "Heebo", sans-serif;
  font-weight: 500;
  margin-bottom: 10px;
}
.sections-header a {
  font-size: 16px;
  font-weight: 400;
}
.sections-header .pages-directions-div {
  display: flex;
  align-items: center;
}
.filter_and_viewAll-container {
  display: flex;
  align-items: start;
  gap: 24px;
  justify-content: space-between;
  /* font-family: "Heebo", sans-serif; */
  font-family: "Inter", sans-serif;
}
/* =========filter========== */
.filter-container {
  max-width: 270px;
  width: 100%;
  border: 1px solid #f0eef2;
  border-radius: 20px;
}
.filter-head {
  padding: 22px 20px 32px 20px;
  border-bottom: 1px solid #f0eef2;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.filter-head h2 {
  font-size: 20px;
  font-weight: 500;
  font-family: "Heebo", sans-serif;
}
.filter-head button {
  font-size: 14px;
  font-weight: 500;
}
.filter-headings {
  font-size: 16px;
  font-weight: 500;
}
/* ======details summary======= */
.filter-category {
  padding: 22px 20px 32px 20px;
  border-bottom: 1px solid #f0eef2;
}
.filter-summary {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}
.summary123 {
  cursor: pointer;
  font-size: 16px;
  font-family: "Inter", sans-serif;
}
.filter-category-div {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 5px;
  margin: 10px 0;
}
.filter-category-div button {
  padding: 8px 16px;
  border: 1px solid #f7f6f8;
  border-radius: 30px;
  width: 100%;
  font-size: 14px;
  font-weight: 500;
  text-align: start;
}
.filter-category-div button:hover {
  background-color: #f7f6f8;
}
.filter-viewALl-btn {
  font-size: 16px;
  font-weight: 400;
  color: #422659;
}
/* ======price========= */
.filter-price-range {
  padding: 21px 0;
  position: relative;
}
.filter-low-high-prices {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.filter-low-high-prices p {
  font-size: 14px;
  font-weight: 400;
  color: #495f6a;
}
.colors {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background-color: rebeccapurple;
  cursor: pointer;
}
.filter-form {
  margin-top: 20px;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 7px;
  margin-bottom: 10px;
}

.filter-color-input {
  display: none;
}

.filter-form input:checked + label div {
  border: 2px solid white;
  outline: 1px solid black;
}
.slider {
  width: 100%;
  -webkit-appearance: none;
  appearance: none;
  height: 8px;
  background: #D0C0E2;
  border-radius: 5px;
  outline: none;
  opacity: 0.7;
  transition: opacity 0.2s;
}

.slider::-webkit-slider-thumb {
  width: 20px;
  height: 20px;
  -webkit-appearance: none;
  appearance: none;
  background: #4B3D6B;
  border-radius: 50%;
  cursor: pointer;
  outline: 12px solid #42265933;
}

.slider::-moz-range-thumb {
  width: 20px;
  height: 20px;
  background: #4B3D6B;
  border-radius: 50%;
  cursor: pointer;
  
}

.tooltip {
  position: absolute;
  top: -20px;
  background-color: #4B3D6B;
  color: white;
  padding: 5px;
  border-radius: 5px;
  font-size: 14px;
  font-weight: bold;
}

.filter-low-high-prices {
  display: flex;
  justify-content: space-between;
}

.filter-low-high-prices p {
  margin: 0;
}
/* ===========products-view-all-contianer============= */
.products-view-all-contianer {
  max-width: 858px;
  width: 100%;
}
.products-view-all-head {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
}
.products-view-all-head p {
  font-size: 16px;
  color: #495f6a;
  font-size: 400;
}

.products-view-all-head .sortBy-btn,
.filter-btn {
  font-size: 14px;
  color: #422659;
  font-weight: 400;
  border-radius: 30px;
  border: 1px solid #a093ac;
  padding: 8px 16px;
  display: flex;
  align-items: center;
  gap: 8px;
}
.filter-btns-container {
  display: flex;
  align-items: center;
  gap: 10px;
  justify-content: space-between;
}
.filter-btn {
  display: none;
}
.view-all-products-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 18px;
}
.products-pages-controler {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 6px;
  margin-top: 40px;
}
.products-pages-controler button {
  max-width: 32px;
  width: 100%;
  height: 32px;
  border-radius: 30px;
  transition: all 0.3s ease-in-out;
  border: 1px solid white;
}
.products-pages-controler button:hover {
  border: 1px solid #422659;
}
.page-select {
  background-color: #422659;
  color: white;
}
.filter-background-overlay {
  display: none;
}
@media (max-width: 1100px) {
  .filter-btn {
    display: flex;
  }
  .filter-background-overlay {
    display: none;
    position: fixed;
    background-color: #000000b9;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 99999;
  }
  .filter-container {
    display: none;
    max-width: 564px;
    width: 100%;
    height: 80%;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 9999999999999999999;
    background-color: white;
    overflow: auto;
  }
  .showFIlter {
    display: block;
  }
  .filter-head {
    position: sticky;
    background-color: white;
    overflow: hidden;
    top: 0;
    left: 0;
  }
}
@media (max-width: 700px) {
  .view-all-products-grid {
    grid-template-columns: 1fr 1fr;
  }
  .products-view-all-head {
    flex-direction: column;
    gap: 20px;
  }
  .filter-btns-container {
    width: 100%;
  }
}
@media (max-width: 530px) {
  .view-all-products-grid {
    grid-template-columns: 1fr;
  }
}
