/* =======product-card========== */
.grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}
.product-card {
  max-width: 270px;
  width: 100%;
  margin: 0 auto;
  border: 1px solid #efe8ec;
  border-radius: 20px;
  background-color: #fef9f9;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}
.product-card .product-img {
  height: 270px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 20px;
}
.product-content {
  background-color: white;
  padding: 20px 10px;
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
}
.product-content h3 {
  font-size: 20px;
  font-weight: 500;
}
.product-content p {
  font-size: 24px;
  font-weight: 500;
}
.ratting-div {
  display: flex;
  align-items: center;
  margin: 5px 0 20px 0;
}
.product-like-btn {
  display: flex;
  align-items: center;
  gap: 8px;
  position: absolute;
  top: 6%;
  right: 4%;
}
.new {
  background-color: #ed6c02;
  color: white;
  padding: 3px 6px;
  font-size: 12px;
  border-radius: 30px;
}
.product-shop-btn {
  background-color: #422659;
  padding: 9px;
  border-radius: 30px;
  position: absolute;
  bottom: 17%;
  right: 4%;
  color: white;
  transition: all 0.4s ease-in-out;
  overflow: hidden;
  display: flex;
  align-items: center;
  height: 45px;
  justify-content: center;
}

.add-cart {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  color: white;
  transition: all 0.4s ease-in-out;
  transform-origin: right;
  transform: scaleX(0);
  width: 0;
  opacity: 0;
  white-space: nowrap;
}

.product-shop-btn:hover .add-cart {
  transform: scaleX(1);
  width: auto;
  opacity: 1;
}

.cart-img {
  transition: all 0.4s ease-in-out;
  width: 30px;
  opacity: 1;
}

.product-shop-btn:hover .cart-img {
  transform: scaleX(0);
  width: 0;
  opacity: 0;
}

/* ================freatured-products-section============= */
.product-head {
  display: flex;
  align-items: end;
  justify-content: space-between;
  gap: 10px;
  margin-bottom: 40px;
  font-weight: 500;
  font-family: "Heebo", sans-serif;
  white-space: nowrap;
}
.product-head h2 {
  font-size: 34px;
}
.product-head div {
  display: flex;
  gap: 10px;
  align-items: center;
}
.top-product-heading{
  font-size: 34px;
}
.product-head p {
  font-size: 16px;
  color: #495F6A;
  font-weight: 400;
}

/* =========products by category - section============ */
.Products-By-Category-section {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  overflow: auto;
}
.Products-By-Category-section .product-card {
  width: 260px;
}
.categorys-btn-container {
  display: flex;
  align-items: center;
  position: relative;
  overflow: auto;
  justify-content: space-between;
  margin-bottom: 40px;
}
.categorys-btn {
  display: inline-block;
  font-size: 14px;
  font-weight: 500;
  font-family: "Inter", sans-serif;
  text-transform: uppercase;
  color: #495f6a;
  padding: 12px 8px;
  border-bottom: 1px solid #f0eef2;
  white-space: nowrap;
}
.categorys-btn.selected {
  color: #422659;
  border-bottom: 1px solid #422659;
}
/* ==========screen media quary============== */
@media (max-width: 1000px) {
  .product-head {
    margin-bottom: 30px;
  }
  .product-head h2 {
    font-size: 30px;
  }
  .top-product-heading{
    font-size: 30px;
  }
}

@media (max-width: 700px) {
  .product-content h3 {
    font-size: 18px;
    margin-bottom: 14px;
    font-weight: 400;
  }
  .product-content p {
    font-size: 22px;
  }
  .product-head div {
    display: none;
  }
  .ratting-div {
    display: none;
  }
  .product-head {
    margin-bottom: 20px;
  }
  .product-head h2 {
    font-size: 28px;
  }
  .product-head p {
    font-size: 14px;
  }
  .top-product-heading{
    font-size: 28px;
  }
  .product-shop-btn {
    height: 36px;
  }
  .add-cart {
    transform: scaleX(1);
    width: auto;
    opacity: 1;
    font-size: 14px;
  }
  .cart-img {
    transform: scaleX(0);
    width: 0;
    opacity: 0;
  }
  .categorys-btn-container {
    margin-bottom: 20px;
  }

  
}
@media (max-width: 375px) {
  .product-content h3 {
    font-size: 16px;
  }
  .product-content p {
    font-size: 20px;
  }
  .product-head {
    white-space: wrap;
    margin-bottom: 10px;
  }
  .product-head h2 {
    font-size: 24px;
  }
  .top-product-heading{
    font-size: 24px;
  }
}
