/* =====summary css ========== */
.summary-container {
  padding: 30px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  border: 1px solid #42265914;
  border-radius: 20px;
  max-width: 368px;
  width: 100%;
  margin: 0 auto;
}
.summary-container h3 {
  font-size: 20px;
  font-weight: 500;
  line-height: 32px;
  letter-spacing: 0.15000000596046448px;

  font-family: "Heebo", sans-serif;
  color: #1f292d;
  padding-bottom: 10px;
  border-bottom: 1px solid #42265914;
}
.summary-container p {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.15000000596046448px;

  color: #1f292d;
}
.summary-container h4 {
  font-size: 24px;
  font-weight: 500;
  line-height: 32.02px;

  font-family: "Heebo", sans-serif;
  color: #1f292d;
}
.summary-items-count button {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.15000000596046448px;
  color: #422659;
}

.summary-content {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.summary-items-count {
  padding: 20px 0;
  border-top: 1px solid #42265914;
  border-bottom: 1px solid #42265914;
}

@media (max-width: 830px) {
  .summary-container {
    padding: 15px;
    gap: 14px;
    max-width: 700px;
  }
  .summary-items-count {
    padding: 14px 0;
  }
  .summary-container h3 {
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.15000000596046448px;
  }
  .summary-container p {
    font-size: 14px;
    line-height: 20.02px;
    letter-spacing: 0.17000000178813934px;
  }
  .summary-container h4 {
    font-size: 20px;
    line-height: 32px;
    letter-spacing: 0.15000000596046448px;
  }
}
@media (max-width: 600px) {
  .summay-btn{
    display: none;
  }
}

