.upiPayment-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  max-width: 760px;
  width: 100%;
  margin: 0 auto;
}
.upiPayment-methods-div {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 24px;
}
.upiPayment-methods-div .upi-methods {
  padding: 14px 20px;
  border: 1px solid #ebe9f3;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  cursor: pointer;
}
.upiPayment-methods-div .upi-methods div {
  display: flex;
  align-items: center;
  gap: 10px;
}
.add-upi {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  padding:14px 0;
  border-radius: 10px;
  color: #495f6a;
  border: 2px dashed #ebe9f3;
  cursor: pointer;
}
@media (max-width: 500px) {
  .upiPayment-methods-div {
    display: grid;
    grid-template-columns: 1fr;
  }
}
